<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2" >
        <br>
        
<body>
    <h3>Create New Listing</h3>

    <form method="post" action="/listings" novalidate class="needs-validation" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"
             type="text" placeholder="Add a cathcy title"
              class="form-control"
              required>
              <div class="valid-feedback">
                Looks good!
                </div>
        </div>  
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"  
            class="form-control"
            required></textarea>
            <div class="invalid-feedback">
                Please provide a valid description.
                </div>
        </div>
        
        <br> 
        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input name="listing[image]" 
            type="text" 
            placeholder="Image URL"
             class="form-control">
                <div class="invalid-feedback">
                Please provide a valid image URL.
                    </div>
        </div> 
        <br>
        <div class="row">
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" 
            type="number" 
            placeholder="1200"
             class="form-control"
             required>
                <div class="invalid-feedback">
                    Please provide a valid price.
                    </div>
        </div>
        <br>
        <div class="mb-3 col-md-4">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" 
            type="text" 
            placeholder="India"
             class="form-control"
             required>
                <div class="invalid-feedback">
                    Please provide a valid country.
                    </div>
        </div>
        <br>
        <br>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" 
            type="text" 
            placeholder="Hyderabad,Bangalore"
             class="form-control"
             required>
                <div class="invalid-feedback">
                    Please provide a valid location.
                    </div>
        </div>
    </div>
        
        
        <button class="btn btn-dark add-btn">Create Listing</button>
        <br>

    </form>
    
</body>
</div>
</div>
